.menuEvenement ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    gap: 30px;
    padding: 5px 20px;
    font-size: 20px;
}

.menuEvenement{
    background-color: var(--couleur-principale);
    color: var(--ombre-pale);
}
.menuEvenement a{
    padding: 5px 10px;
}

.menuEvenement a:hover{
    color: var(--couleur-principale);
    background-color: var(--ombre-pale);
}

@media(min-width: 900px){
    .menuEvenement ul{
        flex-direction: row;
    }
}