.carte-information{
    background-color: var(--accent-sombre);
    border-radius: 8px;
    box-shadow: inset 0 0 0 5px var(--accent-pale);
    margin: 0 30px;
    padding: 20px;
    width: 60%;
}

.carte-information a{
    padding: 0 10px;
    text-decoration: underline;
}

.carte-information a:hover{
    color: var(--ombre-pale);
}
.carte-information h1{
    text-align: center;
}

.carte-information h2,h3{
    margin-left: 10px
}

.carte-information li{
    max-width: 150ch;
}

.carte-information ul *+*{
    margin-top: 10px;
}

.carte-information pre{
    margin:0 30px;
    padding: 10px;
    background-color: var(--ombre-sombre);
    white-space: pre-wrap;
}

.carte-information img{
    object-fit: cover;
    width: 100%;
    height: auto;
}