.carte-information{
    background-color: palegreen;
    border-radius: 10px;
    box-shadow: inset 0 0 4px palevioletred;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
}

.carte-information div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.carte-information div img{
    width: 300px;
    height: 300px;
}