
//==============================menu mobile=======================
header img{
    display: none;
}

input.gachette-menu-mobile{
    position: fixed;
    z-index: 1;
    top: 20px;
    right: 20px;
    appearance: none;
    font-size: 35px;
    padding: 5px;
    line-height: 1;
    border-radius: 5px;
    color: var(--ombre-pale);
}
input.gachette-menu-mobile::after{
    content: "\2630";
}
input.gachette-menu-mobile:checked::after{
    content: "\2715";
}
input.gachette-menu-mobile:checked{
    color: var(--ombre-fonce);
}
input.gachette-menu-mobile:not(:checked)~nav{
    display: none;
}

nav ul{
    display: block;
    list-style: none;
    padding-left: 0;
    margin: 0;
}
nav li{
    border-top: 1px solid var(--ombre-sombre);
}
nav a{
    display: block;
    background-color: var(--ombre-pale);
    color: var(--ombre-sombre);
    text-align: center;
    padding: 8px 0;
}

nav a:hover{
    background-color: var(--ombre-sombre);
    color: var(--ombre-pale);
    box-shadow: inset 0 0 0 2px var(--ombre-pale);
}

//==============================menu full-screen==================
$layout-breakpoint-large: 1281px;
@media (min-width: $layout-breakpoint-large){
    header img{
        display: block;
    }
    header>section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 20px;
    }
    input.gachette-menu-mobile{
        display: none;
    }
    input.gachette-menu-mobile:not(:checked)~nav{
        display: flex;
    }
    nav {
        flex-direction: row;
        margin-right: auto;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        gap: 10px;
        list-style: none;
    }
    nav li{
        padding: 10px;
    }
    nav a{
        background-color: var(--ombre-pale);
        color: var(--ombre-sombre);
        padding: 10px;
        border-radius: 8px;
        box-shadow: inset 0 0 0 2px var(--ombre-sombre);
    }
    
    nav:first-child{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


