.erreur{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.erreur h1, h2{
    color: var(--ombre-pale);
}

.erreur p{
    color: var(--ombre-pale);
    background-color: var(--accent-sombre);
    border-radius: 8px;
    padding: 5px 10px;
    width: fit-content;
    box-shadow: inset 0 0 0 1px var(--accent-pale);
}

.erreur picture{
    display: flex;
    justify-content: center;
}

.erreur ul{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        list-style: none;
}

.erreur a{
    transition: 0.7s;
}

.erreur a:hover{
    color: var(--ombre-pale);
}

.erreur span{
    display: none;
}


//la bannière avec image
.erreur .banniere{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 50vh;
    width: 100%;
    background: rgba(11,241,4,0.7);
    background: linear-gradient(338deg, rgba(11,241,4,0.39957990031950286) 0%, rgba(0,0,0,1) 49%, rgba(142,70,255,0.4023810207676821) 100%);
}
.erreur .banniere>img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    inset: 0;
}

//le texte dans la bannière
.erreur .banniereTexte{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 50vh;
    width: 100%;
}



@media (min-width:1370px){
    .no-aside{
        grid-template-columns: auto;
        grid-template-areas:
        "header"
        "main"
        "footer";
    }

    .erreur span{
        display: initial;
    }
}