footer{
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.3))
}

footer ul{
    display: block;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

footer li{
    border-top: 1px solid var(--ombre-sombre);
}

footer nav a{
    display: block;
    background-color: var(--ombre-pale);
    color: var(--ombre-sombre);
    text-align: center;
    padding: 8px 0;
    transition: 0.7s;
}

footer nav a:hover{
    background-color: var(--ombre-sombre);
    color: var(--ombre-pale);
    box-shadow: inset 0 0 0 2px var(--ombre-pale);
}

@media (min-width: 900px){
    .navFooter{
        display: flex;
        // flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: flex-end;
    }

    footer ul{
        display: flex;
        flex-direction: row;
        gap: 10px;
        list-style: none;
    }

    footer li{
        padding: 10px;
        border-top: none;
    }

    footer nav a{
        background-color: var(--ombre-pale);
        color: var(--ombre-sombre);
        padding: 10px;
        border-radius: 8px;
        box-shadow: inset 0 0 0 2px var(--ombre-sombre);
    }
}